.diageo-container {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 476px) {
  .diageo-container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .diageo-container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .diageo-container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .diageo-container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 476px) {
  .diageo-container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .diageo-container {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .diageo-container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .diageo-container {
    width: 1140px;
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .diageo-container {
    width: 1340px;
    max-width: 100%;
  }
}
